.form {
    padding: 30px;
}
.form > * {
    font-size: 1.5em;
}

.form input {
    padding: 5px;
}

.form button {
    background: #d5d5dd;
    border: none;
    padding: 7.5px;
    transition-duration: 0.3s;
}
.form button:hover {
    border-radius: 10px;
}